window {
    font-family: "Berkeley Mono Trial", "JetBrainsMono Nerd Font", monospace;
    font-size: 16pt;
    color: #cdd6f4;
    background-color: rgba(14, 14, 22, 0.8);
}

button {
    background-color: rgba(200, 220, 255, 0);
    border-radius: 80px;
    margin: 10px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:focus {
    border: 0px;
}

button:hover {
    background-color: rgb(145, 215, 227);
    color: #1e1e2e;
    margin: 5px;
    border-radius: 80px;
}
