/* Clipboard Config - Clipboard */

@import "~/.config/rofi/config.rasi"

/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: "   Clipboard Manager";
	font: "Berkeley Mono Trial 9";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
